* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin main-grid {
  display: grid;
  grid-template-columns: 1.2fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  width: 100vw;
  height: 100vh;
}

@mixin menu-pos {
  position: absolute;
  left: 70px;
  top: 70px;
  color: white;
}

@mixin main-text-pos {
  position: absolute;
  left: 170px;
  top: 280px;
  color: white;
}

@mixin sub-headline-top-pos {
  position: absolute;
  left: 120px;
  top: 120px;
  color: white;
}

@mixin sub-text-pos {
  position: absolute;
  left: 170px;
  bottom: 110px;
  color: white;
}

@mixin preview-window-pos {
  position: absolute;
  right: 248px;
  bottom: 105px;
}
