@mixin main-grid {
  display: grid;
  grid-template-columns: 1.2fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  width: 100vw;
  height: 100vh;
}

@mixin menu-pos {
  position: absolute;
  left: 70px;
  top: 70px;
  color: white;
}

@mixin main-text-pos {
  position: absolute;
  left: 170px;
  top: 350px;
  color: white;
}

@mixin sub-headline-top-pos {
  position: absolute;
  left: 166px;
  color: white;
  font-weight: bolder;
  font-size: 10px;
  z-index: 6;
}

@mixin sub-headline-bottom-pos {
  position: absolute;
  left: 170px;
  bottom: 150px;
  color: white;
}

@mixin next-image-window-pos {
  position: absolute;
  right: 248px;
  bottom: 100px;
}

@mixin blockade {
  background-color: #2e2d33;
  width: 295px;
  height: 50px;
  position: absolute;
  left: 0px;
  z-index: 5;
}
